{% extends 'base.html' %}

{% block title %}Список вакансий{% endblock %}

{% block content %}
<h1 class="mb-4">Список вакансий</h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Компания</th>
        <th>Локация</th>
        <th>Специализация</th>
        <th>Грейд</th>
        <th>ЗП от</th>
        <th>ЗП до</th>
        <th>Валюта</th>
        <th>Действие</th>
      </tr>
    </thead>
    <tbody>
      {% for vac in vacancies %}
      <tr>
        <td>{{ vac.company }}</td>
        <td>{{ vac.geo }}</td>
        <td>{{ vac.specialization }}</td>
        <td>{{ vac.grade }}</td>
        <td>{{ vac.salary_min }}</td>
        <td>{{ vac.salary_max }}</td>
        <td>{{ vac.currency }}</td>
        <td>
          <a href="{% url 'vacancy_detail' vac.id %}" class="btn btn-outline-info btn-sm"><i class="bi bi-eye-fill"></i> Info</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center">Нет вакансий для отображения.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}